language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
install:
  - pip install coveralls
script:
  coverage run --source=trade python tests.py
after_success:
  coveralls
branches:
  only:
    - master
